
@media(max-width:1500px) {
    .student-select-cst .lesson-drpdown .form-control {
        padding: 2px 3px;
        margin-bottom: 12px;
    }
}

@media(max-width:1400px){
    .pie-legend-bottom li{width:50%;}
    .pie-chart-card{padding-bottom: 180px !important;}
    .all-student-list li {
        flex-basis: 49.1%;
    }
    .class-info li .dt, .class-info li .dd{
        font-size: 16px;
    }
    .t-profile-wrapper {     
        padding: 2% 0;
    }

}

@media(max-width:1360px) {
    .score-card {
        padding: 10px;
    }
    .score-card .detail img {
        max-width: 60px;
    }
    .score-card .detail h6 {
        font-size: 17px;
        margin: 3px 0;
    } 
   
.mini-nav {
    /* padding-top: 64px !important; */
    padding: 0px 0px !important;
    /* margin-top: 73px; */
}
    .score-card .detail h5 {
        font-size: 18px;
        font-weight: bold;
    }
    .filter-mini-nav {
    top: 6.7rem !important;
}
.coinnav{
        padding-top: 179px !important;
}
    .score-card .detail:last-child {
        margin-left: 5px;
        width: calc(100% - 70px)
    }
    .score-card .detail h6 {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .top-90 {
    padding-top: 125px !important;
}
.top-90-not-auth {
    padding-top: 90px !important;
}

    .chart-title {
        font-size: 20px;
    }
    .add-point-tab .nav-link{
        margin-right: 5px;
        width: 24%;
    }
   .mob-device-show{
       display: inline-flex;
       list-style: none; 
       align-items: center;
    }
    #dashboard a{
        max-width: 210px;
    }
     .mob-device-show li{
        margin:0px 10px;
     }
     .navbar-dark .navbar-toggler {
    color: #fff;
    border-color: #fff;
    width: 30px;
    height: 30px;
    padding: 0px;   
}
.mob-device-hide{
    display: inline-block;
}
.navbar-nav li.hide-search{
    display: none;
}

#dashboard .navbar-nav {
    align-items: center;
    background-color: #01095e;
}
.mob-device{
    display: block;
    background: rgb(229 229 255);
    padding: 10px;
}
#search .form-control{
    min-width: 100%;
}
.mob-device-show{
    display: none;
}
.mini-nav.bg-light-blue{
   padding-top: 0px !important;
   padding: 0px 0px !important;
   margin-top: 123px !important;
}
.mini-nav .header-top-panel{
    padding: 0px;
    padding: 10px 10px;
}
.header-white{
    box-shadow: none;
}
/* .mob-device{
        display: none;
    } */
    .mini-nav {
    /* padding-top: 64px !important; */
    padding: 0px 0px !important;
    /* margin-top: 74px; */
}
.navbar-nav li.hide-search {
    display: none;
}
.navbar-nav li {
    display: inline-block;
    margin: 0 6px;
}
.navbar-nav .nav-item a {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    padding: 0.5rem 0 !important;
}
.navbar-form-custom i {
    color: #fff;
    left: 14px;
    top: 2px !important;
    position: absolute;
}
}

@media(min-width: 1361px) and (max-width: 1475px) {

.navbar-expand-lg .navbar-nav {
    /* flex-direction: row; */
    min-width: 1082px;
}
}
@media(max-width:1199px){
    .student-info-wrapper h6.sname {
        font-size: 18px;
    }
    .class-score {
        font-size: 16px;
    }
   .nav-item  .btn {
    width: 100%;
    min-width: 84px;
    padding: 8px 20px !important;
}
    .nav-item .form-control {
    /* height: 45px; */
   width: 136px;
    font-size: 12px;
}
#count .home-title {
    font-size: 46px;
    margin-bottom: 0px;
    line-height: 50px;
}
.Graded-Coins {
    
    font-size: 20px;
    line-height: 1.5;
    
}
 
}
@media(max-width:1170px) {
    .score-card .detail img {
        max-width: 40px;
    }
    .score-card .detail:last-child {
        margin-left: 0px;
        width: calc(100% - 50px);
    }
    .score-card .detail h6 {
        font-size: 14px;
    }
    .score-card .detail h5 {
        font-size: 16px;
    }
    .per-tab .nav-link{
        width: 32.3%;
    }
    .ini-report-card h4{
        font-size: 14px;
    }
    .ini-report-card .grpBox {
        height: 50px;
        width: 50px;
    }
    .bg-light-blue {
        background-color: #e5e5ff;
        font-size: 16px;
        color: #000;
        padding-top: 108px;
    }
    
    .bg-light-blue-not-auth {
        background-color: #e5e5ff;
        font-size: 16px;
        color: #000;
        padding-top: 30px;
    }
    .mini-navA {
    /* padding-top: 95px; */
}
}

@media(max-width:1024px) {
    .navbar-nav li {
        margin: 0 10px;
    }
    .mini-navA {
    padding-top: 126px;
}
#webindex .btn-A{
    padding: 0px !important;
}
.bg-light-blue .txt-blue {
   
   
    font-size: 14px !important;
    padding-top: 6px;
}
.login-blu-bg{
    background-size: auto;
}
.mid-box {
    margin: 20px 0px;
}
    
}
@media(max-width:1359px) {
   
    .mini-navA {
    /* padding-top: 125px; */
    padding-bottom: 10px;
}
  
}
@media(max-width: 991px) {
    .navbar-collapse {
        background: #ffffff;
        /* margin: 0 -19px; */
        position: absolute;
        /* left: 0; */
        width: 184px;
        top: 76px;
        z-index: 99;
        box-shadow: 0px 10px 20px #0808084f;
        right: 0px;
    }
    #searchresult{
    padding-top: 40px;
}
    .mini-nav .header-top-panel {
    padding: 0px;
    padding: 0px 10px 10px 0px;
}
.ml-35 {
    margin-left: 32px;
}
 .pad-30{
   padding: 2rem 20px !important;
}
    .mob-device-hide{
        display: none !important;
    }
    #dashboard .hover-txt:hover::before{
        opacity: 0;
    }
    #mob-nav li{
      padding: 10px 0px;
    width: 100%;
    text-align: center;
}
  .filter-mini-nav {
    top: 7.7rem !important;
}
.mini-nav {
    /* padding-top: 64px !important; */
    padding: 0px 0px !important;
    margin-top: 0px;
}
    .navbar-nav {
        width: 100%;
    }
    .navbar-nav li {
        /* display: block; */
        /* margin: 0; */
    }
   
    .form-inline.form-btn {
        display: block;
    }#pro-img .btn-defualt {
    max-width: 100%;
    float: right;
}
#pro-img .review-no {
    max-width: 100%;
    text-align: center !important;
}
    /*.navbar-nav .nav-item.active a, .navbar-nav .nav-item a:hover, .navbar-nav .nav-item a:focus, .form-btn li a:hover {
        border-bottom: 1px solid #0091b4 !important;
        background: #0091b4;
        color: #fff !important;
    }*/
    .form-inline.form-btn ul {
        display: block;
    }
    .form-btn li {
        display: block;
        margin: 0;
    }
    .form-btn li:before {
        display: none;
    }
    .form-btn li:last-child a {
        border-bottom: none;
        border-radius: 0 0 20px 20px;
    }
    .navbar-toggler {
        margin-left: auto;
    }
    .navbar {
        padding: 1rem 1.2rem;
    }
    .score-card {
        margin: 10px 0;
    }
    
    .student-info-wrapper h6.sname {
        font-size: 20px;
    }
    .stud-info-list li {
        font-size: 14px;
    }
    .header-white .navbar-nav .nav-item:last-child a {
        border-bottom: 0;
    }

    .all-student-list li {
        flex-basis: 100%;
        margin:0px 0 20px 0;
    }
    .add-point-tab .nav-link{
        font-size: 14px;
        padding: 5px !important;
    }
    .radio-wrapper .icon{
        max-width: 40px;
    }
    h3.page-title{
        font-size: 20px;
    }
    .subject-wrapper h6{
        font-size: 16px;
    }
    .subject-wrapper {
        padding-right: 0;
    }
    .radio-wrapper:before{
        width: 93%;
    }
    .radio-custom [type="radio"]:checked + label, .radio-custom [type="radio"]:not(:checked) + label{
        font-size: 14px;
    }
    .radio-wrapper{
        padding: 5px 0;
    }
    .radio-wrapper .radio-custom.effort-100{
        display: block;
    }
    .radio-wrapper.effort-wrapper:before{
        display: none;
    }
    .t-profile-wrapper .user-pic{
        width: 190px;
        height: 190px;
    }
    .faq-wrapper .btn-link,.faq-wrapper .card-body{
        padding-right: 40px;
        font-size: 14px;
    }
    .ini-report-card .homeBox {
        margin-bottom: 10px;
       
    }
    .flex-reverse{
        flex-wrap: wrap-reverse;
            padding-top: 57px;
    }
     .flex-reverse1{
        flex-wrap: wrap-reverse;
       
    }
    .home-title {
    font-size: 39px;
  
    line-height: 50px;
   
}
.container{
    width: 100%;
    max-width: 100%;
}
.Rectangle {
   
    display: none;
}
#count .d-flex{
    justify-content: center !important;
}
.navbar-nav .btn {
    width: 100%;
    min-width: 123px;
    padding: 8px 20px !important;
    max-width: 171px;
}
#webindex .btn-A    {
    width: 100%;
    min-width: 123px;
    /*padding: 8px 20px !important;*/
    max-width: 171px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#webindex .top-custom-select select {
    min-width: 100%;
}

.top-custom-select {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    width: 100%;
}
#webindex .top-custom-select select.mystyle{
    font-size: 15px;
}
.navbar-nav li
{
    margin: 2px;
    }
.mob-device-show{
    display: inline-flex;
}
.mob-device-hide {
    display:none;
}
 #dashboard a{
        max-width: 200px;
    }
    .header-white .navbar {
    padding: 10px 10px;
}

#dashboard .hover-txt:hover{
    background: #404686;
    color: #fff;
}
.mob-logo-hide{
    display: none;
}
.mob-logo{
    display: block;
     
}
#dashboard  .mob-logo {
        max-width: 44px !important;
}
#dashboard .hover-txt:hover{
    color: #fff;
}
.Available{
    text-align: left !important;
    margin-left: 25% !important;
}
}
@media(max-height:768px){
    .login-bg{
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        margin: 0px auto;
        padding: 20px;
        /* max-width: initial; */
    }
}

@media(max-width:767px) {
    /* .time-period .datepicker{
        width: 200px;
    } */
    .time-period .datepicker input {
        width: 80%;
    }
   
    .header-top-panel {
        padding: 0px 8px;
    }
 .header-top-panel ul li a {
        padding: 8px 0px;
    }
    .left-bg-wrapper {
        margin-bottom: 20px;
        height: auto;
    }
    #searchresult {
    padding-top: 0;
}
    .ml-26{

    margin-left: 26px !important;
    }
    .right-wrapper {
        margin: 0 -15px;
    }
    .time-period .form-group {
        width: 100%;
    }
    .time-period .form-group .form-control {
        width: 50%;
        display: inline-flex;
        margin: 0 5px !important;
    }
   /* body.p-30 {
        padding: 0 10px 10px;
    }*/
    .main-wrapper {
        /* margin-top: 124px; */
        padding: 0px;
    }
    .header-white .navbar {
        padding: 10px 10px;
    }
    .pie-legend-bottom h6 {
        font-size: 18px;
    }
    .pie-legend-bottom p {
        font-size: 12px;
    }
    /* login form start */
    .login-bg{
        position: relative;
        top: 0;
        left: 0;
        transform: translate(0);
        margin: 0px auto;
        padding: 20px;
        max-width: initial;
    }
    .inner-title{font-size: 28px;}
    .login-form {
        margin-top: 20px;
    }
    .login-wrapper {
        min-height: calc(100vh - 150px);
    }
    .forgot-modal .modal-body {
        padding: 30px 20px;
    }
    .forgot-modal .title{
        font-size: 22px;
        margin: 10px 0 20px 0;
    }
    .forgot-modal .modal-body p{    
        font-size: 18px;
        max-width: 100%;
    }
    .login-form .nav-tabs{
        margin-bottom: 20px;
    }
    .class-info li{
        margin-top: 10px !important;
        margin-bottom: 0;
    }
    .btn-bg,.btn-primary,.btn-border{
        padding: 3px 10px;
        font-size: 16px;
    }
    h3.page-title{
        font-size: 22px;
    }
    .ongoing-class .col-lg-3.pr-0{
        padding-right: 15px !important;
    }
    .comment-list li{
        padding:10px 0;
    }
    .comment-list .comment-text p{
        font-size: 14px;
    }
    .comment-list .comment-text h6 {
        font-size: 16px;
    }
    .comment-list .timestamp p{
        font-size: 12px;
    }
    .student-select-cst .lesson-drpdown .form-control{
        padding: 2px 1px;
    }
    #leaddetail .form-group,.contactlead .form-group{
        margin-bottom: 2px;
    }
.Graded-Coins {
    /* margin: 13px 78px 100px 113px; */
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    color: #00095e;
    text-align: center;
}
.pr-mob-4{
    padding-right: 0px !important;
}
.pl-mob-0{
    padding-left: 0px !important;

} 
.bor-t-r{
      border-top: 1px solid #dee2e6!important;
    border-right: 1px solid #dee2e6!important;
}
 .d-flex-center{
     margin: 0 auto;
     justify-content: center;
    }
    .flex-wrap-a{
        flex-wrap: wrap;
    }
    .mt-10{
        margin-top: 15px;
    }
    .pt-10{
        padding-top: 10px !important;
        margin-top: 0px !important;
          margin-bottom: 0px !important;
    }
    .w-100mob{
        width: 100% !important;
    }
   .p-15{
    padding: 15px !important;
   }
   .share-icon{


    margin-top: 25px;
   }
   #myDIV.tooltiptext::after {
   
    top: -12px;
    right: 153px !important;
   
}
.title {
    font-size: 14px;
    color: #00095e;
    padding-bottom: 15px;
}
.mx-left {
    margin-left: 4px !important;
}
 .text-lg-right p{
    margin-right: 10px;
 }

 .form__radio-input {
  display: none;
}

.form__label-radio {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
}
.form__radio-button::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  transition: opacity 0.2s;
}

.form__radio-input:checked ~ .form__label-radio .form__radio-button::after {
  opacity: 1;
}

 
 .border-right-0{
    border-right: 0px !important;
 }
 #myDIVa,#myDIV {
    left: -5%  !important;
}
   .top-60 {
     /*margin-top: 124px; */
    padding: 0px;
}
}
@media(max-width:575px){
    .all-student-list li a{
        padding: 10px;
    }
    h3.page-title{
        font-size: 20px;
    }
    .all-student-list li a .count, .all-student-list li a .name{
        font-size: 16px;
    }
    .all-student-list li a .name{
        margin-left: 5px;
        width: calc(100% - 53px - 40px);
    }
    .class-detail-wrapper .pull-right{
        float: none;
        
    }
    #order h2{
        font-size: 80px;
    }
    .class-detail-wrapper .btn-bg{
        margin:10px 0;
    }
    .all-student-list li a span{
        height: 50px;
        width: 50px;
    }
    .student-info-wrapper .stud-pic {
        width: 80px;
        height: 80px;
    }
    .time-period .datepicker {
        width: calc(100% - 100px);
    }
    .time-period{
        margin-bottom: 10px;
    }
    h3.page-title {
        font-size: 20px;
    }
    .all-student-list.activity-list li a .name {
        font-size: 14px;
    }
    .all-student-list.activity-list li a .name{
        width: calc(100% - 60px - 0px);
        padding-right: 0;
        font-size: 12px;
    }
    .all-student-list.activity-list li a .count{
        width:100%;
        font-size: 12px;
    }
    
    /* .page-title-wrapper .search-wrapper{
        float: none;
    } */
    .faq-wrapper .btn-link,.faq-wrapper .card-body{
        padding-right: 30px;
        font-size: 12px;
    }
    .fq-title{
        font-size: 20px;
    }
    .student-select-cst .lesson-drpdown.pull-right{
        float:none;
    }
    .btn-home{
        margin-bottom: 20px;
    }
    .homeBox{
        padding:1rem;
    }
    .std-detail-tab .nav-link {
        width: 100% !important;
        margin: 0 !important;
        padding: 5px;
    }
    .grpBox{
        height: 100px;
        width: 100px;
    }
    .title-btn .btn.common{
        min-width: auto;
        font-size: 14px;
    }
    /* .title-btn .text-right{
        text-align:left;
    } */
    .home-title {
    font-size: 28px;
    line-height: 40px;
    padding-top: 30px;
}
.small-title {
    color: #10202f;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 30px;
}
.img-width{
    width: 100% !important;
    border-radius: 0  !important;
}
.img-width-600{
    width: 400px;
}
.img-300{
    width: 160px;
}
#order .profilea img {
    width: 41px;
    border-radius: 50%;
}
#order .profilea {
    margin-top: 80px;
    position: relative;
    width: 280px;
    margin: 0 auto;
    justify-content: center;
}
}
@media(max-width:520px){
    .login-form .nav-tabs .nav-link{
        padding: 5px 15px;
        font-size: 18px;
    }
   
}

@media(max-width:460px){
    .header-white .navbar-brand {
        max-width: 260px;
    }
    .header-white .navbar-brand img{
        width:100%;
    }
    .navbar-toggler{padding: 0;}
    .navbar-dark .navbar-toggler-icon{
        width: 25px;
        height: 25px;
    }
    .time-period .form-group .form-control{
        width: 85%;
        margin: 0 5px !important;
    }
    .login-bg{padding: 10px 0;}
    /* .main-wrapper {        
        padding: 10px 10px;
    } */
    .login-form .nav-tabs .nav-link {
        padding: 5px 10px;
        font-size: 16px;
    }
    .login-form .form-group{
        margin-bottom: 10px;
    }
    .navbar-collapse{
        top: 62px;
    }
    .forgot-modal .modal-body p{
        font-size: 14px;
    }
    .btn-bg,.btn-border{
        font-size: 16px;
    }
    .forgot-modal .modal-body {
        padding: 20px 20px;
    }
    .page-title-wrapper .col-8,
    .page-title-wrapper .col-4{
        max-width:100%;
        flex-basis: 100%;
    }
    .page-title-wrapper .search-wrapper {
        float: none;
        margin-top: 15px;
    }
    .class-info li .dt,
    .class-info li .dd{
        font-size: 14px;
        width:49%;
        vertical-align: top;
    }
    .class-info li .dt:after{
        top:10px;
    }
    h3.page-title {
        font-size: 18px;
    }
    .btn-bg{
        padding: 3px 10px;
        font-size: 15px;
    }
    .add-point-tab .nav-link{
        width:99%;     
        margin-right: 0;
    }
    .student-info-wrapper {
        padding: 10px;
    }
    .student-info-wrapper h6.sname {
        font-size: 18px;
    }
    .class-score {
        font-size: 14px;
    }
    .subject-wrapper h6 {
        font-size: 14px;
    }
    .btn-wrapper .btn{
        width:100%;
        margin-bottom: 5px;
    }
    .comment-list .comment-text {
        width: calc(100% - 50px - 10px);
        margin: 0 5px;
    }
    .comment-list .timestamp {
        text-align: right;
        width: 100%;
    }
    .comment-list .timestamp p {
        display: inline-block;   
        margin:0 2px;     
    }
    .login-wrapper {
        min-height: calc(100vh - 130px);
    }
    .time-period .datepicker {
        width: calc(100% - 0px);
        margin-left: 0 !important;
        margin-top: 4px;
    }
    .search-wrapper .form-control{
        width:100%;
    }
    .time-period .datepicker input {
        width: 86%;
    }
    .fq-title{
        font-size: 18px;
    }
    .faq-wrapper .accordion .btn-link.collapsed:after{
        font-size: 22px;
    }
    .faq-wrapper .btn-link,.faq-wrapper .card-body{
        padding-right: 20px;
        
    }
    a.btn-bg {
        padding: 3px 10px;
        font-size: 15px;
    }
    .navbar-collapse {
    background: #ffffff;
    /* margin: 0 -19px; */
    position: absolute;
    /* left: 0; */
    width: 176px;
    top: 74px;
    z-index: 99;
    box-shadow: 0px 10px 20px #0808084f;
    right: 16px;
}
.works{
    display: block;
     margin-left: 0px !important;
    margin-top: 10px !important;
}
.flex-wrap{
    flex-wrap: wrap;
    /*margin-bottom: 15px;*/
}

}
@media(max-width: 768px){
.works {
    color: #0000ff;
    font-size: 17px;
    margin-top: 9px !important;
    margin-bottom: 6px !important;
    display: block;
    margin-left: 0px !important;
}
.width-mob{
    width: 100% !important;
}
.flex-wrap-a-mob{
    flex-wrap: wrap !important;
}
.widthnew {
    max-width: 100% !important;
    width: 100% !important;
    margin-top: 10px;
}
#mob-design  .mx-4 {
    margin: 10px !important;
}
#mob-design  h4{
    font-size: 14px;
}
#mob-design  p{
    font-size: 12px;
}
#mob-design .min-width-60{
    height: 50px;
    min-width: 50px !important;
    max-height: 50px !important;
}
.text-lmob{
    text-align: left !important;
}
 #walleta .box-card{
        min-width: 100%;
    }
    .width-165 {
    width: 87% !important;
    margin: 5px;
}
    #nav-History .box-card{
        min-width: 85%;
    }.home-title {
    font-size: 29px;
    line-height: 42px;
}
#myDIV.tooltiptext{
    left: 21%;
}
.pt-50{
    padding: 0px !important
}
.small-title {
    color: #10202f;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 25px;
}  
#walleta .bg-dark-blue{
    padding-left: 0rem!important;
} 
#count .home-title {
    font-size: 50px;
    margin-bottom: 0px;
}
#footer .footer-top{
   padding: 60px 0 0px 0;
}
.bor-t-r{
      border-top: 1px solid #dee2e6!important;
    border-right: 1px solid #dee2e6!important;
      border-bottom: 1px solid #dee2e6!important;
      margin-bottom: 50px;
}
.bg-light-blue {
    background-color: #e5e5ff;
    font-size: 16px;
    color: #000;
    padding-top:110px;
}
 #product p{

    max-width: 100% !important;
    }
  .pta-4{
     padding-top: 40px !important;
    }
    .p-15{
        padding: 15px !important;
    }
     .p-5{
        padding: 5px !important;
    }
     .p-5{
        padding: 4px !important;
    }
    #add .pl-4,  #add .px-4 ,  #add .ml-3{
        padding-left: 0px !important;
         margin-left: 0px !important;
    }
    .font-10 {
   
     padding-top: 0px; 
}
.pl-10{
    padding-left: 15px !important;
}
#myDIVa {
    top: 127%;
 
    left: 41%;

}
#myDIV select{
   min-width: 100px !important; 
}
}
@media(max-width: 340px){
    .header-white .navbar-brand {
    max-width: 239px;
}.works{
    margin-left: 0px !important;
    margin-top: 10px !important;
}
.flex-wrap{
    flex-wrap: wrap;
    /*margin-bottom: 15px;*/
}
.Graded-Coins {
    /* margin: 13px 78px 100px 113px; */
    font-size: 20px;
    line-height: 1.5;
    text-align: left;
    color: #00095e;
    text-align: left;
}

}
@media(min-width:768px){
    .ongoing-class .modal-lg {
        max-width: 650px;
    }
}
@media(min-width:992px){
    .ongoing-class .modal-lg {
        max-width: 900px;
    }
}
@media(min-width:1200px){
    .ongoing-class .modal-lg {
        max-width: 1000px;
    }
}
@media(min-width:1300px){
    .ongoing-class .modal-lg {
        max-width: 1200px;
    }
}
@media only screen and (max-width: 1359px) and (min-width: 1024px)  {

.img-a img {
    max-width: 95px;
}
.btn-defualt{

  font-size: 14px !important;
padding: 14px 10px !important;
}
.login-blu-bg{
    background-size: auto;
}
.bg-light-blue .txt-blue{
   
}

#webindex .top-custom-select select.mystyle {
    background: url(../images/down-arrow1.svg) 110px center no-repeat transparent;
        background-size: auto;
    background-size: 15px;
}
.active-hr{
    margin-top: 28px;
}

}

@media(max-width:1280px){
  .pad-30{
   padding: 30px 30px;
  
}
}
@media(max-width:1240px){

.login-title {
    text-shadow: 0 4px 10px rgb(0 0 0 / 26%);
    color: #fff;
    font-size: 26px;
    max-width: 70%;
    margin: 1rem auto;
}
/* .login-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    left: -220px;
    right: 0;
    margin: 0 auto;
    text-align: center;
} */
/* .img-widtha{
    width: 70% !important;
    height: 100vh;
} */

}

.login-logo img {
    max-width: 57px !important;
}
.signUp-logo img {
    max-width: 57px !important;
}
.login-title {
    text-shadow: 0 4px 10px rgb(0 0 0 / 26%);
    color: #fff;
    font-size: 20px;
    max-width: 70%;
    margin: 1rem auto;
}

@media(max-width:2000px){
.post{
    position: relative !important;
    top: 0 !important;
}


.login-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    left: 2%;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.signUp-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-200%);
    width: 100%;
    left: 2%;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
}
@media(max-width:1200px){
.post{
    position: relative !important;
    top: 0 !important;
}
/* .img-widtha{
    width: 100% !important;
    height: 30vh !important;
    object-fit: cover;
    border-top-right-radius: 27px;
    border-top-left-radius: 27px;
} */
.login-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    left: 2%;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.signUp-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    left: 2%;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.mob-device {
    display: block;
}
}

@media(max-width:767px){
.post{
    position: relative !important;
 top: 0
}
/* .img-widtha{
    width: 100% !important;
    height: 30vh !important;
    object-fit: cover;

} */
.mid-box {
    margin:0px 0px;
}
.login-title{
    margin: 20px auto;
    font-size: 20px;
}
.login-logo{
        left: 2%;
}
.top-60a{
       padding-top: 240px !important;
}
}
/* @media (min-width: 991px)  {

.img-widtha {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 27px;
    border-top-left-radius: 27px;
}
} */

@media(max-width: 991px){
    .img-width-login {
    width: 100% !important;
    height: 30vh !important;
    object-fit: cover;
    /* border-radius: 27px; */
    border-top-left-radius: 27px;
        border-top-right-radius: 27px;

}
    .img-width-signUp {
    width: 100% !important;
    height: 30vh !important;
    object-fit: cover;
    /* border-radius: 27px; */
    border-top-left-radius: 27px;
        border-top-right-radius: 27px;
}
}
@media(min-width: 992px){
    .img-width-login {
    width: 100% !important;
    /* height: 90vh !important; */

    object-fit: cover;
    /* border-radius: 27px; */
    border-top-left-radius: 27px;
        border-bottom-left-radius: 27px;

}
    .img-width-signUp {
    width: 100% !important;
    height: 150vh !important;
    object-fit: cover;
    /* border-radius: 27px; */
    border-top-left-radius: 27px;
            border-bottom-left-radius: 27px;

}
.login-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    left: 2%;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.signUp-logo {
    position: absolute;
    top: 100vh;
    transform: translateY(-200%);
    width: 100%;
    left: 2%;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
}

@media screen and (min-device-width: 992px) and (max-device-width: 1400px) { 
    .img-width-signUp {
    width: 100% !important;
    height: 154vh !important;
    min-height: 154vh !important;
}
}





